/* Base */
html,
body,
main {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.body {
    background-color: #33CCFF;
    color: white;
    font-weight: 600;
    height: 90vh;
}

footer {
    color: white;
    margin-top: 50px;
}

/* Tweets */

.hr {
    border: 2px solid white;
}

.tweet {
    padding: 15px 15px 0 15px;
    background-color: white;
    color: black;
    margin-top: 10px;
}

.tweet p {
    margin-top: 10px;
}

small {
    color: #aaa;
}

#timeline {
    height: 80vh;
    overflow-y: scroll;
}

img {
    margin-bottom: 10px;
}